<input id="<%= id %>"
         type="checkbox"
         class="hxb-checkbox"
         name="<%= id %>"
         value="<%= value %>" />
<label for="<%= id %>" class="hxb-checkbox-label">
  <%= label %>
</label>