<label for="<%= id %>"
       class="hxb-u-display-block"><%= label %></label>
<input id="<%= id %>"
       type="email"
       name="<%= id %>"
       class="hxb-input-field hxb-u-border hxb-gray-border-color"
       placeholder="<%= locals.placeholder ? locals.placeholder : '' %>"
       value="<%= locals.value ? locals.value : '' %>" />