<fieldset class="hxb-fieldset">
  <legend><%= label %></legend>
  <% for (var i = 0; i < options.length; i++) { %>
    <label for="<%= id %>_<%= i %>" class="hxb-u-display-block">
      <input id="<%= id %>_<%= i %>" type="radio" name="<%= id %>" value="<%= options[i].value %>" />
      <%= options[i].label %>
    </label>
  <% } %>
</fieldset>