<fieldset class="hxb-fieldset">
  <legend><%= label %></legend>
  <% for (var i = 0; i < options.length; i++) { %>
    <input id="<%= id %>_<%= i %>"
           type="radio"
           class="hxb-radio-button"
           name="<%= id %>"
           value="<%= options[i].value %>" />
    <label for="<%= id %>_<%= i %>" class="hxb-radio-button-label">
      <%= options[i].label %>
    </label>
  <% } %>
</fieldset>