<label for="<%= id %>"
       class="hxb-u-display-block"><%= label %></label>
<textarea id="<%= id %>"
          name="<%= id %>"
          class="hxb-input-field"
          placeholder="<%= locals.placeholder ? locals.placeholder : '' %>"
          rows="10"
          cols="50"><%= locals.value ? locals.value : '' %></textarea>